.card {
    position: relative;
}

.card img {
    width:100px;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/* front of the card - picture*/
.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.1s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.1s;
}
/* back of the card - pokeball*/
.card .back{
    transition: all ease-in 0.1s;
    transition-delay: 0.1s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}